body {
  margin: 0;
  background-color: #101822;
  color: white;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

a {
  color:white;
  text-decoration: none;
}
